<h2>Category by Name</h2>
<p>
    <%= category.category_name %>
</p>
<p>
    <%= category.category_description %>
</p>
<ul>
    <% for( let i=0; i < category.poses.length; i++ ) { %>
        <% let cat=category.poses[i] %>
            <li class="sidelist">
                <p>
                    <%= cat.english_name %>
                </p>
                <p>
                    <%= cat.pose_description %>
                </p>
                <img src="<%= cat.url_png %>" alt="">
                <% } %>
            </li>
</ul>