<h2>
    <%= pose.english_name %>
</h2>
<img src="<%= pose.url_png %>" alt="">
<p>
<h5>Sanskrit Name: <%= pose.sanskrit_name %>
</h5>
</p>
<p>
    <b>Pose Description:</b>
    <%= pose.pose_description %>
</p>
<p>
    <b>Pose Benefits:</b>
    <%= pose. pose_benefits %>
</p>